.createyourhuman {
  width: 94%;
  max-width: 1100px;
  margin: 0 auto;

  &__content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &__about {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
