/* variables */

$main: #882bd8;
$secondary: #fc157e;

$white: #fff;
$gray: #cccccc;
$light_gray: #f2f2f2;
$text: #333;

/* reset styles */
html,
body {
  font-size: 10px;
}

* {
  margin: 0;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.createyourhuman {
  width: 94%;
  max-width: 1100px;
  margin: 0 auto;

  &__header {
    width: 100%;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 3.5rem;
      font-weight: normal;
      color: $gray;
      line-height: 0.5;

      span {
        font-size: 4rem;
        color: $main;
      }
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      font-size: 2rem;
      color: $gray;
      margin-left: 50px;
      transition: all 300ms ease;

      &:hover {
        color: $main;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__left {
    position: relative;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: auto;
      top: auto;
      right: 50%;
      bottom: 15%;
      transform: translateX(50%);
      width: 400px;
      height: 460px;
      background: url('../img/human-bg.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__settings {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    &-container {
      position: relative;
      width: 260px;
      height: 80px;
      margin-bottom: 5px;
      background-color: $light_gray;

      &:nth-of-type(2) {
        height: 115px;
      }

      &:last-of-type {
        height: 200px;
      }
    }

    &-list {
      width: 5000px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 300ms ease;

      &-container {
        width: 125px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
      }

      svg {
        height: 90%;
        width: 125px;
        display: inline-block;
      }
    }
  }

  &__arrow {
    position: absolute;
    left: -40px;
    bottom: 50%;
    width: 15px;
    height: 15px;
    border: solid $gray;
    border-width: 1px 1px 0 0;
    transform: translateY(50%) rotate(-135deg);
    cursor: pointer;
    transition: all 300ms ease;

    &--right {
      left: auto;
      right: -40px;
      transform: translateY(50%) rotate(45deg);
    }

    &:hover {
      border-color: $main;
    }
  }

  &__about {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
