<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Createyourhuman
    link(rel="stylesheet" href="styling/style.css")
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    script(type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f98f68e2a2baa0012f7f1a7&product=sop' async='async')
  body
    .createyourhuman#create
      .createyourhuman__header
        .createyourhuman__header-inner
          a(href="#start")
            h2.createyourhuman__logo
              | createyourhuman.

          .createyourhuman__header-list
            a.createyourhuman__header-item(href="#make") Create
            a.createyourhuman__header-item(href="#about") About
            a.createyourhuman__header-item(href="https://paolomartinligsay.netlify.app/" target="_blank") Get in touch

      .createyourhuman__main#start
        h2(data-aos="fade-up" data-aos-duration="1000")
          | Have fun and
          br
          span createyourhuman.

        p(data-aos="fade-up" data-aos-duration="1000") Start creating your own scalable vector graphics in less than a minute!

        img(src="img/main.png" data-aos="fade-left" data-aos-duration="2000")

        a.createyourhuman__btn(href="#make" data-aos="fade-up" data-aos-duration="1000")
          p GET STARTED

      .createyourhuman__content#make
        img(src="img/settings.png" alt="settings")

        .createyourhuman__left(data-aos="fade-up" data-aos-duration="1000")
          .output
            g.person(style="max-width: 500px;display: flex;flex-direction: column;align-items: center;")
              g.person__head(style="transform: translate(1%, 23%);z-index: -1;")
              g.person__body
              g.person__bottom(style="transform: translate(1%, -33%);z-index: -1;")

        .createyourhuman__settings
          h2(data-aos="fade-up" data-aos-duration="1000") Create your Human

          .createyourhuman__settings-container(data-aos="fade-left" data-aos-duration="1000")
            span.createyourhuman__arrow.head-arrow(src="" alt="arrow")
            .createyourhuman__settings-list-container
              .createyourhuman__settings-list.head-list
            span.createyourhuman__arrow.createyourhuman__arrow--right.head-arrow(src="" alt="arrow")
          .createyourhuman__settings-container.createyourhuman__settings-container--body(data-aos="fade-left" data-aos-duration="1500")
            span.createyourhuman__arrow.body-arrow(src="" alt="arrow")
            .createyourhuman__settings-list-container
              .createyourhuman__settings-list.body-list
            span.createyourhuman__arrow.createyourhuman__arrow--right.body-arrow(src="" alt="arrow")
          .createyourhuman__settings-container.createyourhuman__settings-container--bottom(data-aos="fade-left" data-aos-duration="2000")
            span.createyourhuman__arrow.bottom-arrow(src="" alt="arrow")
            .createyourhuman__settings-list-container
              .createyourhuman__settings-list.bottom-list
            span.createyourhuman__arrow.createyourhuman__arrow--right.bottom-arrow(src="" alt="arrow")

          .createyourhuman__btn.copy-svg(data-aos="fade-left" data-aos-duration="2000")
            p GET SVG CODE

      .createyourhuman__about#about
        h2(data-aos="fade-up" data-aos-duration="1000") About 
          span createyourhuman
        p(data-aos="fade-up" data-aos-duration="1000") createyourhuman helps Developers and Designers who wants to input vector base illustrations to their websites as easy as 123. 
          | It allows you to edit your own vector character and copy it by simply clicking the button and insert it inside your html file.
          | All Character Designs are from 
          a(href="https://www.humaaans.com/" target="_blank")
            | humaaans
          | , check out their website as they have a lot of great vector graphic designs!

        h2(data-aos="fade-up" data-aos-duration="1000") 
          span Share it 
          | with your friends!
        p(data-aos="fade-up" data-aos-duration="1000") 	Your support is very much appreciated! Enjoy and share it with your friends now! 

        .createyourhuman__btn-list(data-aos="fade-up" data-aos-duration="1000")
          <!-- ShareThis BEGIN -->
          .sharethis-inline-share-buttons
          <!-- ShareThis END -->

    footer.footer
      p Developed by 
        span Paolo Ligsay

      img(src="img/footer.png" alt="people")

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="js/data.js")
    script(src="js/index.js")